{% extends "forum/base.html" %}
{% block style %}
<style>
    .rating-num{
        font-size: 70px;
        color: green;
    }
</style>
{% endblock %}
{% block content %}
<div class="container book-detail">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="{% url 'browse' %}">Browse</a></li>
          <li class="breadcrumb-item active" aria-current="page">{{ book.Book_Title }}</li>
        </ol>
    </nav><br>
    <div class="row">
        <div class="col-4">
            <img src="{{ book.Image_URL_L }}" alt="" style="height: 100%; width: 70%; box-shadow: 5px 2px 22px -6px rgba(0,0,0,0.75);">
        </div>
        <div class="col-6">
            <p class="heading">{{ book.Book_Title }}</p>
            <div class="avg-rating-stars">
                <i class="fa fa-star {% if avg_rating < 1 or avg_rating == null %} empty {% endif %} fa-2x"></i>
                <i class="fa fa-star {% if avg_rating < 2 or avg_rating == null %} empty {% if avg_rating > 1.3 %} half {% endif %}{% endif %} fa-2x"></i>
                <i class="fa fa-star {% if avg_rating < 3 or avg_rating == null %} empty {% if avg_rating > 2.2 %} half {% endif %}{% endif %} fa-2x"></i>
                <i class="fa fa-star {% if avg_rating < 4 or avg_rating == null %} empty {% if avg_rating > 3.3 %} half {% endif %}{% endif %} fa-2x"></i>
                <i class="fa fa-star {% if avg_rating < 5 or avg_rating == null %} empty {% if avg_rating > 4.3 %} half {% endif %}{% endif %} fa-2x"></i>
                <!-- <div class="half"><i class="fa fa-star fa-2x"></i></div> -->
            </div>
            <br> <br>
            <div id="confirm-box"></div>
            <div class="row detail">
                <div class="col-6">
                    <p class="key">ISBN:  {{ book.ISBN }}</p>
                    <p class="key">Author:  {{ book.Book_Author }}</p>
                    <p class="key">Rating: <span class="avg-rating">{% if avg_rating == null %}0{% else %}{{ avg_rating | floatformat:1 }}{% endif %}</span></p>
                </div>
                <div class="col-6">
                    <p class="key">Year of Publication:  {{ book.Year_Of_Publication }}</p>
                    <p class="key">Publisher: {{ book.Publisher }}</p>
                </div>
            </div>
            <a href="https://www.amazon.com/s?k={{ book.Book_Title }}+{{book.Book_Author}}+{{book.ISBN}}" target="blank"><button class="btn" style="background-color: #f3cf73; border: 1px solid black;"><i class="fab fa-amazon fa-1x"></i> Buy this book</button></a>
        </div>  
    </div>
</div> 
<br> 
<hr>  
<div class="row">
    <div class="col-md-6" style="text-align: center;">
        <!-- <div class="card">
            <div class="card-body" style="text-align: center;"> -->
                <div class="text-muted">Overall customer satisfaction</div> <br>
                <p class="rating-num"><span class="avg-rating">{% if avg_rating == null %}0{% else %}{{ avg_rating | floatformat:1 }}{% endif %}</span><strong style="color: grey;">/5</strong></p>
            <!-- </div>
          </div> -->
    </div>
    <div class="col-md-6 mb-4">
        <h4 class="review-title">Write Your Review</h4>
        <p class="text-muted small">Your email address will not be published.</p>
        <form class="review-form" action="{% url 'book-detail' book.id%}" method="post" id="review-form">
            {% csrf_token %}
            <div class="form-group mb-0">
                <textarea name="comment" class="form-group" id="reviewPost" placeholder="Your review here.." required></textarea><br>
            </div>
            <div class="form-group">
                <div class="input-rating">
                    <strong class="text-uppercase">Your Rating: </strong><br>
                    <div class="stars">
                        <input type="radio" class="rateStar" id="star5" name="rate" value="5" /><label for="star5"></label>
                        <input type="radio" class="rateStar" id="star4" name="rate" value="4" /><label for="star4"></label>
                        <input type="radio" class="rateStar" id="star3" name="rate" value="3" /><label for="star3"></label>
                        <input type="radio" class="rateStar" id="star2" name="rate" value="2" /><label for="star2"></label>
                        <input type="radio" class="rateStar" id="star1" name="rate" value="1" /><label for="star1"></label>
                    </div>
                </div>
                {% for err in form.comment.errors %}
                    <small class="text-danger">{{ err }}</small>
                {% endfor %}
            </div>
            {% if user.id is not None %}
                <button class="btn btn-dark">Submit</button>
            {% else %}
                You must be logged in to post a review.
            {% endif %}
        </form>
    </div>
</div><hr>
<fieldset>
    <legend class="review-start"><h4 class="review-title">Reviews</h4></legend>
        <div id="start-review">
            {% for review in page_obj %}
                <div class="product-reviews">
                    <div class="single-review">
                        <div class="review-heading">
                            <div><a href="#"><i class="fa fa-user"></i> @{{ review.user.username }}</a> </div>
                            <div><a href="#"><i class="fa fa-clock"></i> {{ review.date_posted }}</a></div>
                            <div class="review-rating pull-right">
                                <i class="fa fa-star {% if review.rating < 1 %} empty {% endif %}"></i>
                                <i class="fa fa-star {% if review.rating < 2 %} empty {% endif %}"></i>
                                <i class="fa fa-star {% if review.rating < 3 %} empty {% endif %}"></i>
                                <i class="fa fa-star {% if review.rating < 4 %} empty {% endif %}"></i>
                                <i class="fa fa-star {% if review.rating < 5 %} empty {% endif %}"></i>
                            </div>
                        </div>
                        <div class="review-body">
                            <p>{{ review.review }}</p>
                        </div>
                    </div>
                </div>
                {% empty %}
                <p class="review-title text-center mt-5 no-review">No reviews yet!</p>
            {% endfor %}
        </div>
        <div class="mx-auto">
            {% include "forum/pagination.html" %}
        </div>
</fieldset>
{% endblock %}

{% block script %}

    <script type="text/javascript">
        function review_pagination(){
            $('#pagination a.link-page').each((index, el) => {
            $(el).click((e) => {
                e.preventDefault()
                let page_url = $(el).attr('href')
                $.ajax({
                url: page_url,
                type: "GET",
                success: (data) => {
                    $('#start-review').empty()
                    $('#start-review').append($(data).find('#start-review').html())
                    $('#pagination').empty()
                    $('#pagination').append($(data).find('#pagination').html())
                }
                })
            })
            })
        }

        $(document).ready(function() {
            review_pagination()
        })

        $(document).ajaxStop(function() {
            review_pagination()
        })
        
    </script>

    <script>
        var dt = new Date();
        function addZero(i) {
        if (i < 10) {
            i = "0" + i;
        }
            return i;
        }
        const date = dt.getDate();
        var month = new Array();
        month[0] = "January";
        month[1] = "February";
        month[2] = "March";
        month[3] = "April";
        month[4] = "May";
        month[5] = "June";
        month[6] = "July";
        month[7] = "August";
        month[8] = "September";
        month[9] = "October";
        month[10] = "November";
        month[11] = "December";
        var n = month[dt.getMonth()];
        const year = dt.getFullYear();
        var h =  dt.getHours(), m = addZero(dt.getMinutes());
        var _date = n  + ' ' + date + ', ' + year + ', ';
        var _time = (h > 12) ? (h-12 + ':' + m +' p.m.') : (h + ':' + m +' a.m.');
        var _datetime = _date + _time;

        const form = document.getElementById('review-form')
        form.addEventListener("submit", submitHandler);
        
        function submitHandler(e){
            e.preventDefault();
            if(`{{avg_rating}}` == "None"){
                var total_rating = 0;
                var num_rating = 1;
            } else {
                var total_rating = parseFloat(`{{avg_rating}}`) * parseInt(`{{obj.count}}`);
                var num_rating = parseInt(`{{obj.count}}`) + 1;
            }
            var uName = `{{request.user.username}}`;
            const reviewPost = $("#reviewPost").val();
            const reviewStar = $(".rateStar:checked").val();
            $.ajax({
                type: 'POST',
                url: "{% url 'book-detail' book.id %}",
                data: $("#review-form").serialize(),
                dataType: 'json',
                success: function(data){
                    if (data.msg == 'Success'){
                        form.reset();
                        $('.no-review').remove();
                        
                        var new_total_rating = parseFloat(total_rating) + parseFloat(reviewStar);
                        var new_avg_rating = new_total_rating/parseInt(num_rating);
                        
                        $('.avg-rating').replaceWith(new_avg_rating.toFixed(1))
                        
                        if (new_avg_rating < 1.5){
                            $('.avg-rating-stars').replaceWith(
                            "<i class='fa fa-star fa-2x'></i> <i class='fa fa-star empty fa-2x'></i> <i class='fa fa-star empty fa-2x'></i> <i class='fa fa-star empty fa-2x'></i> <i class='fa fa-star empty fa-2x'></i>"
                        );
                        } else if (new_avg_rating < 2.5 && new_avg_rating > 1.6){
                            $('.avg-rating-stars').replaceWith(
                            "<i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star empty fa-2x'></i> <i class='fa fa-star empty fa-2x'></i> <i class='fa fa-star empty fa-2x'></i>"
                        );
                        } else if (new_avg_rating < 3.5 && new_avg_rating > 2.6){
                            $('.avg-rating-stars').replaceWith(
                            "<i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star empty fa-2x'></i> <i class='fa fa-star empty fa-2x'></i>"
                        );
                        } else if (new_avg_rating < 4.5 && new_avg_rating > 3.6){
                            $('.avg-rating-stars').replaceWith(
                            "<i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star empty fa-2x'></i>"
                        );
                        }  else if (new_avg_rating > 4.6 ){
                            $('.avg-rating-stars').replaceWith(
                            "<i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i> <i class='fa fa-star fa-2x'></i>"
                            );
                        }

                        if(reviewStar == 1){
                            $('.review-start').after(
                                "<div class='product-reviews'><div class='single-review'><div class='review-heading'><div><a href='#'><i class='fa fa-user'></i> @"+uName + "</a> </div><div><a href='#'><i class='fa fa-clock'></i>" + _datetime + "</a></div><div class='review-rating pull-right'><i class='fa fa-star'></i> <i class='fa fa-star empty'></i> <i class='fa fa-star empty'></i> <i class='fa fa-star empty'></i> <i class='fa fa-star empty'></i> </div></div><div class='review-body'><p>"+ reviewPost +"</p></div></div></div>"
                            );
                        } else if(reviewStar == 2){
                            $('.review-start').after(
                                "<div class='product-reviews'><div class='single-review'><div class='review-heading'><div><a href='#'><i class='fa fa-user'></i> @"+uName + "</a> </div><div><a href='#'><i class='fa fa-clock'></i>" + _datetime + "</a></div><div class='review-rating pull-right'><i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star empty'></i> <i class='fa fa-star empty'></i> <i class='fa fa-star empty'></i> </div></div><div class='review-body'><p>"+ reviewPost +"</p></div></div></div>"
                            );
                        } else if(reviewStar == 3){
                            $('.review-start').after(
                                "<div class='product-reviews'><div class='single-review'><div class='review-heading'><div><a href='#'><i class='fa fa-user'></i> @"+uName + "</a> </div><div><a href='#'><i class='fa fa-clock'></i>" + _datetime + "</a></div><div class='review-rating pull-right'><i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star empty'></i> <i class='fa fa-star empty'></i> </div></div><div class='review-body'><p>"+ reviewPost +"</p></div></div></div>"
                            );
                        } else if(reviewStar == 4){
                            $('.review-start').after(
                                "<div class='product-reviews'><div class='single-review'><div class='review-heading'><div><a href='#'><i class='fa fa-user'></i> @"+uName + "</a> </div><div><a href='#'><i class='fa fa-clock'></i>" + _datetime + "</a></div><div class='review-rating pull-right'><i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star empty'></i> </div></div><div class='review-body'><p>"+ reviewPost +"</p></div></div></div>"
                            );
                        } else if(reviewStar == 5){
                            $('.review-start').after(
                                "<div class='product-reviews'><div class='single-review'><div class='review-heading'><div><a href='#'><i class='fa fa-user'></i> @"+uName + "</a> </div><div><a href='#'><i class='fa fa-clock'></i>" + _datetime + "</a></div><div class='review-rating pull-right'><i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star'></i> <i class='fa fa-star'></i> </div></div><div class='review-body'><p>"+ reviewPost +"</p></div></div></div>"
                            );
                        }
                    }
                }
            })
        }
    </script>
{% endblock script %}

