{% extends "forum/base.html" %}
{% block style %}

<style>
  h3{
    font-family: Cinzel Decorative;
    font-weight: bold;
  }
</style>

{% endblock %}
{% block content %}

  <p class="text-center title pt-2">Books</p>
  {% include "forum/search.html" %} <br>

  <div class="container book" {% if page_obj.number == 1 %} style="margin-top: -1%" {% endif %}>
    {% if page_obj.number == 1 %}
    {% if pop_leng != 0 %}
      <h3 style="padding-top: 8%;">Most Popular Books</h3><hr>
    {% endif %}
      {% for popular in populars.itertuples %}
        <div class="display">
          <a href="{% url 'book-detail' popular.id %}">
            <img src="{{ popular.Image_URL_L }}" alt="img" id="img{{popular.id}}">
            <div class="img_text">{{popular.Book_Title}}: <span class="img_text_author">Author: {{popular.Book_Author}}</span></div>
          </a> 
        </div>
      {% endfor %}
      {% if rec_leng != 0 %}
      <h3 style="padding-top: 50px;">Recommended Books</h3><hr>
      {% endif %}
      {% for rate in pred.itertuples %}
        <div class="display">
          <a href="{% url 'book-detail' rate.id %}">
            <img src="{{ rate.Image_URL_L }}" alt="img" id="img{{rate.id}}">
            <div class="img_text">{{rate.Book_Title}}: <span class="img_text_author">Author: {{rate.Book_Author}}</span></div>
          </a> 
        </div>
      {% endfor %}
    <h3 style="padding-top: 8%;">All Books</h3><hr>
    {% endif %}
    {% for book in page_obj %}
    <div class="display">
      <a href="{% url 'book-detail' book.id %}">
        <img src="{{ book.Image_URL_L }}" alt="img" id="img{{book.id}}">
        <div class="img_text">{{book.Book_Title}}: <span class="img_text_author">Author: {{book.Book_Author}}</span></div>
      </a>
    </div> 
    {% empty %}
    <p>No data</p>
    {% endfor %}
  </div>

  <div class="mx-auto">
    {% include "forum/pagination.html" %}
  </div>
{% endblock content%}


