{% extends "forum/base.html" %}
{% block content %}

  <p class="text-center title">Books</p>
  {% include "forum/search.html" %}

  <div class="container book">
    {% for book in books %}
    <!-- <div class="display"> -->
      <a href="{% url 'book-detail' book.id %}"><img src="{{ book.Image_URL_L }}" alt="img" id="img"></a>
      <!-- <div class="name">
        See More..
      </div> -->
    <!-- </div>  -->
    {% empty %}
    <p>No data</p>
    {% endfor %}
  </div>

  <div class="mx-auto">
    {% include "forum/pagination.html" %}
  </div>
{% endblock content%}
