{% extends "forum/base.html" %}

{% block style %}

<style>
  .col-6{
    margin: 0px;
    padding: 0px;
  }
  .like-form{
    text-align: center;
    background: whitesmoke;
    padding: 0px;
    margin-left: 15px;
  }
  .comment-text{
    background: whitesmoke;
    margin-right: 15px;
    padding: 0px;
  }
  .btn-down{
    border: none;
    margin: 0;
    padding: 20px 180px 20px 180px;
    background-color: transparent;
  }
  .divider{
    float: left;
    margin: 0px;
    padding: 0px;
    height: 100%;
    width:1px;
    border-left:1px solid gainsboro;
  }
</style>

{% endblock %}

{% block content %}
<div class="input-group flex-nowrap w-50 mx-auto mb-3">
  <div class="input-group">
    <form action="{% url 'search' %}" method="GET">
    <input name="q" id="tags" type="search" class="form-control input" placeholder="Search" aria-label="Search" value="{{request.GET.q}}">
    <div class="input-group-append">
      <button class="btn btn-secondary search" style="width: 50px;" type="submit"><i class="fas fa-search"></i></button>
    </div>
  </form>
  </div>
</div>

<div class="container" >
  <div id="start-posts">
  {% for post in page_obj %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile' post.author_id %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content text">{{ post.content | safe | truncatewords:"300"  }}</p>
            <div class="like-count{{ post.id }} float-left" style="font-family: Arial, Helvetica, sans-serif;"><i class="fas fa-heart" style="color: red;"></i> {{ post.likes.all.count }} Likes</div>
            <div style="font-family: Arial, Helvetica, sans-serif;"><i class="far fa-comment fa-flip-horizontal ml-3"></i>  <p id="count{{post.id}}"></p> Comments</div>
            <script>
              $(document).ready(function() {
                $.ajax({
                  method: 'GET',
                  url: `{% url 'comment-count' post.id %}`,
                  success: function(data){
                    $(`#count{{post.id}}`).replaceWith(data['count'])
                  }
                });
              });
            </script>
            {% if user.is_authenticated %}
            <hr class="mt-0">
              <div class="row">
                <div class="col-6 mx-auto toggle">
                  <form action="{% url 'likes' %}" method="POST" class="like-form" id="{{ post.id }}" >
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}">
                    {% if user not in post.likes.all %}
                    <button type="submit" value="like" class="like-btn{{ post.id }} btn-down like"><i class="far fa-heart" style="color: black;"></i> Like </button>
                    {% else %}
                    <button type="submit" value="unlike" class="like-btn{{ post.id }} btn-down like"><i class="fas fa-heart" style="color: red;"></i> Unlike</button>
                    {% endif %}
                  </form>
                </div>
                <div class="col-6 mx-auto toggle">
                  <div class="divider"></div>
                  <div class="comment-text">
                    <a href="{% url 'post-detail' post.id %}"><button type="button" class="comment btn-down" id="comment{{ post.id }}"><i class="far fa-comment fa-flip-horizontal ml-2"></i> Comment</button></a>
                  </div>
                </div>
              </div>
            {% endif %}  
          </div>
      </article>
      {% empty %}
      <div class="container">
        <h3 class="text-center">No posts found!</h3>
      </div>
  {% endfor %}  
  </div>
</div>
  
{% include "forum/pagination.html" %}
{% endblock content %}
{%block script%} 
  <script type="text/javascript">
    function review_pagination(){
        $('#pagination a.link-page').each((index, el) => {
        $(el).click((e) => {
            e.preventDefault()
            let page_url = $(el).attr('href')
            $.ajax({
            url: page_url,
            type: "GET",
            success: (data) => {
                $('#start-posts').empty()
                $('#start-posts').append($(data).find('#start-posts').html())
                $('#pagination').empty()
                $('#pagination').append($(data).find('#pagination').html())
                window.scrollTo(0, 0);
            }
            })
        })
        })
    }

    $(document).ready(function() {
        review_pagination()
    })

    $(document).ajaxStop(function() {
        review_pagination()
    })
    
  </script>
  <script>
    $(document).ready(function() {
      // Like 
      $('.like-form').submit(function(e){

        e.preventDefault()
        
        const post_id = $(this).attr('id')
        
        const likeText = $(`.like-btn${post_id}`).text()
        const trim = $.trim(likeText)

        const url = $(this).attr('action')
        
        let res;
        const likes = $(`.like-count${post_id}`).text()
        const trimCount = parseInt(likes)
        
        $.ajax({
            type: 'POST',
            url: url,
            data: {
                'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
                'post_id':post_id,
            },
            success: function(response) {
                if(trim === 'Unlike') {
                    $(`.like-btn${post_id}`).html("<i class='far fa-heart' style='color: black;'></i> Like")
                    res = trimCount - 1
                } else {
                    $(`.like-btn${post_id}`).html("<i class='fas fa-heart' style='color: red;'></i> Unlike")
                    res = trimCount + 1
                }

                $(`.like-count${post_id}`).html("<i class='fas fa-heart' style='color: red;'></i> "+ res + " Likes")
            },
            error: function(response) {
                console.log('error', response)
            }
        })
      })
    });
  </script>
{%endblock script%}
