{% extends "forum/base.html" %}
{% block content %}
<div class="row">
  <div class="col-8">
      {% for post in posts %}
      <article class="media content-section">
        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="{% url 'profile' post.author_id %}">{{ post.author }}</a>
              <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
            </div>
            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
            <p class="article-content">{{ post.content | safe }}</p>
            <h5>
              <form action="{% url 'likes' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="post_id" value="{{ post.id }}">
                {% if user not in post.likes.all %}
                <button type="submit" style="border: none; background-color: transparent;"><i class="far fa-heart" style="color: black;"></i></button>
                {% else %}
                <button type="submit" style="border: none; background-color: transparent;"><i class="fas fa-heart" style="color: red;"></i></button>
                {% endif %}
              </form>
            </h5>
            <strong>{{ post.likes.all.count }} Likes</strong>
            <strong>{{ comment }} Comments</strong>
          </div>
      </article>
      {% empty %}
      <div class="container">
        <h3 class="text-center">No posts found!</h3>
      </div>
      {% endfor %}
    </div>
    <div class="col-4">
      <div class="card border-dark mb-3" style="max-width: 25rem;">
        <div class="card-header">Search</div>
        <div class="card-body text-dark">
          <form class="form-inline my-2 my-lg-0" method="GET" action="{% url 'search' %}">
            <input name="q" class="form-control mr-sm-2" type="search" placeholder="Search for a post.." aria-label="Search" value="{{request.GET.q}}">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
          </form>
        </div>
    </div>
  </div>
    {% include "forum/pagination.html" %}
{% endblock content %}

