{% extends "forum/base.html"%}
{% load static %}
{% block content %}
<div class="container profile">
    <div class="profile-header">
        <div class="profile-img">
            <img src="{{ u_id.profile.image.url }}" alt="">
        </div>
        <div class="profile-nav-info">
            <h3 class="user-name">{{ u_id.first_name }} {{ u_id.last_name }}</h3>
            <div class="address">
                <p class="state">@{{ u_id.username }}</p>
            </div>
        </div>
    </div>
    <div class="main-bd">
        <div class="profile-side">
            <div class="user-mail"><i class="fas fa-envelope"></i>{{ u_id.email }}</div>
            <div class="user-bio">
                <p class="bio">{{ u_id.profile.bio }}</p>
            </div>
            {% if request.user.id == u_id.id %}
            <div class="profile-btn">
                <a href="{% url 'post-create' %}"><button class="createbtn">
                    <i class="fa fa-plus"></i>Create
                </button></a>
            </div>
            {% endif %}
        </div>
        <div class="right-side">
            <div class="nav">
                <ul>
                    <li onclick="tabs(0)" class="user-post">Posts</li>
                    
                    {% if request.user.id == u_id.id %}
                        <li onclick="tabs(1)" class="user-post"> Settings</li>
                    {% endif %}
                </ul>
            </div>
            <div class="profile-body">
                <div class="profile-posts tab">
                    <legend class="border-bottom mb-4">
                        Posts by {{ u_id }}
                    </legend>
                        {% for post in posts%}
                        <article class="media content-section">
                        <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
                            <div class="media-body">
                            <div class="article-metadata">
                                <a class="mr-2" href="{% url 'profile' post.author.id %}">{{ post.author }}</a>
                                <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
                                {% if request.user.id == u_id.id %}
                                    <!-- Default dropleft button -->
                                    <div class="btn-group" style="margin-left: 40%;">
                                        <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <i class="fas fa-cogs"></i>
                                        </button>
                                        <div class="dropdown-menu">
                                        <a class="dropdown-item" href="{% url 'post-update' request.user.id %}"><i class="fas fa-pencil-alt"></i> Update</i></a> 
                                        <a class="dropdown-item" href="{% url 'post-delete' request.user.id %}"><i class="fas fa-trash"></i> Delete</a>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                            <p class="article-content">{{ post.content | safe }}</p>
                            </div>
                        </article>
                        {% empty %}
                        <div class="container" style="text-align: center;">
                            <i class="fas fa-edit fa-7x"></i> <br> <br>
                            <p>No posts yet.</p>
                            {% if request.user.id == u_id.id %}
                                <div class="profile-btn">
                                    <a href="{% url 'post-create' %}"><button class="createbtn">
                                        <i class="fa fa-plus"></i>Create
                                    </button></a>
                                </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
                
                {% if request.user.id == u_id.id %}
                <div class="profile-setting tab">
                        {% include "user/edit-profile.html" %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    {% if request.user.id == u_id.id %}
        <br>
        <div class="info clearfix">
            <p class="float-left"><i class="fas fa-info-circle"></i> On pressing this button, it will delete your account and posts forever. <br>
                <strong> This action is irreversible!</strong>
            </p>
            <button type="button" class="deactivate float-right btn btn-danger btn-lg" data-toggle="modal"
                data-target="#staticBackdrop">Deactivate Account</button>
        </div>
        <!-- Modal  -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-exclamation-circle"></i> Deactivate Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-dialog">
                    Are you sure you want to proceed?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <form method="POST" action="{% url 'delete_user' request.user.id %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger">Continue</button>
                    </form>
                </div>
                </div>
            </div>
        </div>
    {% endif %}
</div>
{% endblock content %}

{% block script %}
    <!-- Nav Js for profile -->
    <script src="{% static 'forum/js/nav.js' %}"></script>
{% endblock %}