{% extends "forum/base.html"%}
{% load static %}
{% block content %}
<div class="container profile">
    <div class="profile-header">
        <div class="profile-img">
            <img src="{{ u_id.profile.image.url }}" alt="">
        </div>
        <div class="profile-nav-info">
            <h3 class="user-name">{{ u_id.first_name }} {{ u_id.last_name }}</h3>
            <div class="address">
                <p class="state">@{{ u_id.username }}</p>
            </div>
        </div>
    </div>
    <div class="main-bd">
        <div class="profile-side">
            <div class="user-mail"><i class="fas fa-envelope"></i>{{ u_id.email }}</div>
            <div class="user-bio">
                <p class="bio">{{ u_id.profile.bio }}</p>
            </div>
            <div class="profile-btn">
                <button class="createbtn">
                    <i class="fa fa-plus"></i>Create
                </button>
            </div>
        </div>
    
        <div class="right-side">
            <div class="nav">
                <ul>
                    <li onclick="tabs(0)" class="user-post">Posts</li>
                    <li onclick="tabs(1)" class="user-post"> Settings</li>
                </ul>
            </div>
            <div class="profile-body">
                <div class="profile-posts tab">
                    <h1 class="mb-3">Post by {{ u_id }} </h1>
                    {% for post in posts%}
                    <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
                        <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                <div class="profile-setting tab">
                    <h1>Account Settings</h1>

                </div>
            </div>
        </div>
    </div>
    {% if request.user.id == u_id %}
        <br>
        <div class="info clearfix">
            <p class="float-left"><i class="fas fa-info-circle"></i> On pressing this button, it will delete your account and posts forever. <br>
                <strong> This action is irreversible!</strong>
            </p>
            <button type="button" class="deactivate float-right btn btn-danger btn-lg" data-toggle="modal"
                data-target="#staticBackdrop">Deactivate Account</button>
        </div>
        <!-- Modal  -->
        <div class="modal fade" id="staticBackdrop" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-exclamation-circle"></i> Deactivate Account</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-dialog">
                    Are you sure you want to proceed?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger">Continue</button>
                </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}

{% endblock content %}