{% extends "forum/base.html"%}
{% load static %}
{% block content %}
<div class="container profile">
    <div class="profile-header">
        <div class="profile-img">
            <img src="{{ user.profile.image.url }}" alt="">
        </div>
        <div class="profile-nav-info">
            <h3 class="user-name">{{ user.first_name }} {{ user.last_name }}</h3>
            <div class="address">
                <p class="state">@{{ user.username }}</p>
            </div>
        </div>
    </div>
    <div class="main-bd">
        <div class="profile-side">
            <div class="user-mail"><i class="fas fa-envelope"></i>{{ user.email }}</div>
            <div class="user-bio">
                <p class="bio">{{ user.profile.bio }}</p>
            </div>
            <div class="profile-btn">
                <button class="createbtn">
                    <i class="fa fa-plus"></i>Create
                </button>
            </div>
        </div>
    
        <div class="right-side">
            <div class="nav">
                <ul>
                    <li onclick="tabs(0)" class="user-post">Posts</li>
                    <li onclick="tabs(1)" class="user-post"> Settings</li>
                </ul>
            </div>
            <div class="profile-body">
                <div class="profile-posts tab">
                    <h1>Your Posts</h1>
                    <h1 class="mb-3">Post by {{ view.kwargs.username }} ({{ page_obj.paginator.count }}) </h1>
                    {% for post in posts %}
                    <article class="media content-section">
                    <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="">
                        <div class="media-body">
                        <div class="article-metadata">
                            <a class="mr-2" href="{% url 'user-posts' post.author.username %}">{{ post.author }}</a>
                            <small class="text-muted">{{ post.date_posted|date:"F d, Y"}}</small>
                        </div>
                        <h2><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h2>
                        <p class="article-content">{{ post.content }}</p>
                        </div>
                    </article>
                    {% endfor %}
                </div>
                <div class="profile-setting tab">
                    <h1>Account Settings</h1>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}